<div class="container">
  <div class="title">
    <h1>All Recipes</h1>
  </div>
<div class="cards">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe),class: "links" do %>
        <div class="card-recipe">
          <%= cl_image_tag recipe.image.key, height: 400, width: 300, crop: :fill if recipe.image.attached?%>
          <div class="card-recipe-infos">
            <div>
            <%# WE CAN ADD A FIELD --> ADDED BY 'USER' so when it goes public we know who posted it %>
              <h2><%= recipe.name %></h2>
            </div>
            <h2 class="card-recipe-pricing">
              <%# <p>/day</p> %>
            </h2>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="listnow"><%= link_to "Add a new recipe", new_recipe_path %></div>
<%# <%= link_to "More details",recipes_path(@recipe) %> %>

