<div class="container">
  <div class="elements">
    <div class="text_image">
      <div id="image">
        <%= cl_image_tag @recipe.image.key, height: 400, width: 300, crop: :fill if @recipe.image.attached?%>
      </div>
      <div id="text">
        <h2><%= @recipe.name %></h2>
        <h4><%= @recipe.description %></h4>
        <h5><%= @recipe.serves %></h5>
        <p><%= @recipe.preparation_time %></p>
        <p><%= @recipe.cooking_time %></p>
        <p> <ul>
          <% @recipe.doses.each do |dose|%>
          <li> <%= dose.quantity %> <%= dose.ingredient.name %> </li>
          <% end %>
          </ul>
        </p>
        <p> <ol>
          <% @recipe.recipe_steps.each do |recipe_step|%>
          <li> <%= recipe_step.step %> </li>
          <% end %>
          </ol>
        </p>
      </div>
    </div>
  </div>


  <% if @recipe.user == current_user %>
    <div class="form">
      <%= simple_form_for([@recipe,Dose.new]) do |f| %>
        <div id="quantity">
          <%= f.input :quantity %>
          <div id="input">
            <%= f.input :ingredient_id, collection: Ingredient.all %>
          </div>
        </div>
        <%= f.submit %>
        <% end %>
    </div>

    <div class="form">
      <%= simple_form_for([@recipe,RecipeStep.new]) do |f| %>
        <div id="quantity">
          <%= f.input :step %>
        </div>
        <%= f.submit %>
        <% end %>
    </div>
  <% end %>




  <div class="links-to">
    <div class="buttons">
        <%# <div id="booknow"><%= link_to "Book", new_recipe_booking_path(@recipe) %></div> %>
        <div id="backindex"><%= link_to "Back to recipes", recipes_path %></div>
        <div id="editbtn"><%= link_to "Edit", edit_recipe_path(@recipe) %></div>
    </div>
  </div>

