<div class="container">
  <div class="elements">
    <div class="text_image">
      <div id="image">
        <%= cl_image_tag @recipe.image.key, height: 400, width: 300, crop: :fill if @recipe.image.attached?%>
      </div>
      <div id="text">
        <h2><%= @recipe.name %></h2>
        <h4><%= @recipe.description %></h4>
        <h5><%= @recipe.serves %></h5>
        <p><%= @recipe.preparation_time %></p>
        <p><%= @recipe.cooking_time %></p>
      </div>
    </div>
  </div>

  <div class="links-to">
    <div class="buttons">
        <%# <div id="booknow"><%= link_to "Book", new_recipe_booking_path(@recipe) %></div> %>
        <div id="backindex"><%= link_to "Back to recipes", recipes_path %></div>
        <div id="editbtn"><%= link_to "Edit", edit_recipe_path(@recipe) %></div>
    </div>
  </div>

