<div class="container">
  <div class="title">
    <h1>Daily Meal Plans</h1>
  </div>

  <div class="meal_planner">
    <% @meal_planners.each do |meal_planner| %>
      <%= link_to meal_planner_path(meal_planner) do %>
        <div class="meal_planner_cards">
            <div class="title_category">
            <h2><%= meal_planner.name %></h2>
            <h5 id="category">
              <%= meal_planner.category %>
            </h5>
          </div>
          <div class="card-recipes">
            <% meal_planner.recipes.each do |recipe| %>
              <div class="card-recipe">
                <%= cl_image_tag recipe.image.key, height: 300, width: 300, crop: :fill if recipe.image.attached?%>
                <div class="card-recipe-infos">
                  <%= recipe.name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
