<div class="container">
  <div class="subtitle">
    <h2><%= @meal_planner.name %></h2>
  </div>
  <div class="cards">
    <% @recipes.each do |recipe| %>
      <div class="card-recipe">
        <div class="card-recipe-infos">
          <h3><%= recipe.tags %></h3>
          <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
          <!-- <p><%= recipe.description.html_safe %></p> -->
        </div>
      </div>
    <% end %>
  </div>

  <div class="buttons">
    <%= link_to "Add to my meal plan", user_meal_planners_path(params: {meal_planner_id: @meal_planner}), method: :post, class: "button" %>
  </div>
</div>
