<div class="container">
  <div class="container2">
    <div class="subtitle">
      <h2><%= @meal_planner.name %></h2>
    </div>
    <div class="cards">
      <% @recipes.each do |recipe| %>
        <div class="card-recipes">
          <div class="card-recipe">
            <%= cl_image_tag recipe.image.key, height: 250, width: 250, crop: :fill if recipe.image.attached?%>
            <div class="card-recipe-infos">
              <h5><%= recipe.tags %></h5>
              <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="buttons">
      <%= link_to "Add to my meal plan", user_meal_planners_path(params: {meal_planner_id: @meal_planner}), method: :post, class: "button" %>
    </div>
  </div>
</div>
