<banner>
  <div id="hero" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('banner.jpg') %>')">
    <div class="title">
      <h2>Welcome to MealzZap !</h2>
    </div>
  </div>
</banner>

<div class="container">
  <div class="subtitle">
    <h2>What you can do ...</h2>
  </div>
  <div class="card-features-layout">
    <div id="card-features">
      <img src="<%= image_path('cookbooks.jpg') %>" />
      <div class="card-features-info">
        <h2>Store your recipes</h2>
        <p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Natus sunt voluptate suscipit itaque, quos iste distinctio.</p>
      </div>
    </div>

    <div id="card-features">
      <img src="<%= image_path('planmeals.jpg') %>" />
      <div class="card-features-info">
        <h2>Plan your weekly meals</h2>
        <p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Natus sunt voluptate suscipit itaque, quos iste distinctio.</p>
      </div>
    </div>

    <div id="card-features">
      <img src="<%= image_path('digital.jpg') %>" />
      <div class="card-features-info">
        <h2>Share your recipes</h2>
        <p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Natus sunt voluptate suscipit itaque, quos iste distinctio.</p>
      </div>
    </div>

    <div id="card-features">
      <img src="<%= image_path('ingredients.jpg') %>" />
      <div class="card-features-info">
        <h2>Create shopping lists</h2>
        <p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Natus sunt voluptate suscipit itaque, quos iste distinctio.</p>
      </div>
    </div>
  </div>
</div>

<div class="about_us_card">
  <div class="container">
    <div class="about_us">
      <div class="logo">
        <%= image_tag("logo_transparent.png", alt: "rss feed", height: 300)%>
      </div>
      <div class="text">
        <h2>About MealzZap</h2>
        <p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, minima quia odit recusandae ea. Omnis, deserunt, inventore debitis qui harum, mollitia voluptatum nulla magnam non, quidem molestias similique. Quia, id.
        Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Nobis, aperiam explicabo provident reprehenderit dolores? Tenetur, beatae, architecto. Quidem voluptatum inventore quia odit itaque amet, magni assumenda deserunt! Veniam, repellendus nostrum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et velit, similique cupiditate in cumque recusandae vero inventore corrupti laboriosam veritatis, tempora commodi at laudantium nemo eveniet consectetur, voluptas dolores suscipit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, minima quia odit recusandae ea. Omnis, deserunt, inventore debitis qui harum, mollitia voluptatum nulla magnam non, quidem molestias similique. Quia, id.
        </p>
      </div>
    </div>
  </div>
</div>
