<banner>
  <div id="hero" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('banner.jpg') %>')">
    <div class="title">
      <h2>
        <span id="banner-typed-text"></span>
      </h2>
    </div>
  </div>
</banner>

<div class="container">
  <div class="subtitle">
    <h2>What you can do ...</h2>
  </div>
  <div class="card-features-layout">
    <div id="card-features">
      <img src="<%= image_path('cookbooks.jpg') %>" />
      <div class="card-features-info">
        <h2>Store your recipes</h2>
        <p>Our Cookbook will store your favorite recipes with all the ingredients and instructions.</p>
      </div>
    </div>

    <div id="card-features">
      <img src="<%= image_path('planmeals.jpg') %>" />
      <div class="card-features-info">
        <h2>Plan your daily meals</h2>
        <p>Our meal planner will give you our best ideas for breakfast, lunch and dinner. </p>
      </div>
    </div>

    <div id="card-features">
      <img src="<%= image_path('digital.jpg') %>" />
      <div class="card-features-info">
        <h2>Share your recipes</h2>
        <p>Sharing is the best way of bringing people and recipes together.</p>
      </div>
    </div>

    <div id="card-features">
      <img src="<%= image_path('ingredients.jpg') %>" />
      <div class="card-features-info">
        <h2>Create shopping lists</h2>
        <p>Our shopping list will make you ready for your next grocery shopping.</p>
      </div>
    </div>
  </div>
</div>

<div class="about_us_card">
  <div class="container">
    <div class="about_us">
      <div class="logo">
        <%= image_tag("logo_transparent.png", alt: "rss feed", height: 300)%>
      </div>
      <div class="text">
        <h2>About MealzZap</h2>

        <p id="text">
          Using a weekly meal plan is the best way to cook healthier for your family, save money, and time! Our free weekly meal plans include a grocery shopping list and tons of easy meal planning ideas. Our delicious recipes are designed by registered dietitians and food experts to help you lose weight, eat more fiber, go vegan and more.
          Browse dozens of meal plans to find one that's right for you. sing a weekly meal plan is the best way to cook healthier for your family, save money, and time!
          Our free weekly meal plans include a grocery shopping list and tons of easy meal planning ideas. Our delicious recipes are designed by registered dietitians and food experts to help you lose weight, eat more fiber, go vegan and more. Browse dozens of meal plans to find one that's right for you.
          Our free weekly meal plans include a grocery shopping list and tons of easy meal planning ideas. Our delicious recipes are designed by registered dietitians and food experts to help you lose weight, eat more fiber, go vegan and more. Browse dozens of meal plans to find one that's right for you.
          Browse dozens of meal plans to find one that's right for you.
        </p>
      </div>
    </div>
  </div>
</div>
