<h2><%= @category.name %></h2>


<div class="cards">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe),class: "links" do %>
        <div class="card-recipe">
          <%= cl_image_tag recipe.image.key, height: 400, width: 300, crop: :fill if recipe.image.attached?%>
          <div class="card-recipe-infos">
            <div>
            <%# WE CAN ADD A FIELD --> ADDED BY 'USER' so when it goes public we know who posted it %>
              <h2><%= recipe.name %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>

<%= link_to "Go back to homepage", root_path %>
